
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    body {
      background-color: #0d0f1a;
      color: #fff;
      font-family: 'Poppins', sans-serif;
    }
    .navbar {
      background-color: #121422 !important;
    }

    .inter {
     font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
     font-style: normal;
    }

    .hero {
      margin-top: 3rem;
    }
    .hero img {
      border-radius: 10px;
      width: 100%;
      height: auto;
    }
    .hero-card {
      background-color: rgba(18, 20, 34, 0.9);
      position: absolute;
      bottom: 20px;
      left: 20px;
      padding: 1rem 1.5rem;
      border-radius: 10px;
      max-width: 500px;
    }
    .badge-tech {
      background-color: #3b82f6;
    }
    .post-card {
      background-color: #171b2a;
      border: none;
      border-radius: 10px;
      transition: transform 0.3s ease;
    }
    .post-card:hover {
      transform: translateY(-5px);
    }
    .post-card img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 200px;
      object-fit: cover;  
    }
    .ad-box {
      background-color: #1d2233;
      color: #999;
      text-align: center;
      padding: 2rem;
      margin: 3rem 0;
      border-radius: 10px;
    }

    .text-principal {
      color: #ffffff;
    }

    .input-color {
      background-color: #1d2233;
      color: #dadada;
      border: 1px solid #3a3a4a
    }